* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
} 

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}

.img {
    display: flex;
}

img {
    width: 100%;
}

article {
    background-color: rgb(27, 236, 191);
    border-radius: 22px;
    padding: 25px;
}